
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/*PRELOADER*/






/*PRELOADER*/

@media  print {
  
  .Cabecera {
   visibility: hidden;
  }

  .body {
   background-color: #A3A3A3;
   
   
  }

  .Hero {
   height: auto;
  }

  .Section1 *{
   display: hidden;
   
   padding: 0px 0px 0px 0px;
   height: auto;
   offset-anchor: 0px;
  }

  .Form {
   
   margin: 0px;
   
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;

}

  .Section2 {
   display: flex;
   justify-content: center;
   align-items: center;
  } 
}



h1 {
   font-size: 48px;
   font-family: 'Roboto', sans-serif;
}

h2{
   font-family: 'Roboto', sans-serif;
}

p{
   font-family: 'Roboto', sans-serif;
}



.OLVA{ 
   color: red;
}

.btn {
   
   display: block;
   cursor: pointer;
   color: #000000;
   font-size: 20px;
   padding: 1px 1px;
   margin-top: 20px;
   background-color: #F5D20A;
   border:solid 1px #F5D20A;
   border-radius: 20px 20px 20px 20px;
   transition: .5s;
  
   box-shadow: none;
   text align: center;
}

.btn a {
   display: flex;
   justify-content: center;
   padding: 11px 40px;
   text-decoration: none;
   color: rgb(255, 0, 0);
   text-transform: uppercase;
   font-family: "roboto", sans-serif;
   font-weight: bold;
   transition: .5s;
   border-radius: 20px;
   
}



.btn:hover {
   
   cursor: pointer;
   color: #F5D20A;
   scale: 1.08;
   background-color: #A3A3A3;

}
.btn a:hover {
   
   cursor: pointer;
   color: #ff0000;
   scale: 1.03;
   background-color: #A3A3A3;

}

.resultados .btn {
   

  
   width: 100%;

}





body,html {
   scroll-behavior: smooth;
   width: 100vw;
   scrollbar-width: 3px;
   
   
   

  scrollbar-width: thin;
  scrollbar-color: yellow;
   
   
   overflow-x: hidden;
  
   background-color: rgba(239, 239, 239);
   margin: 0;
   }

      
      body::-webkit-scrollbar {
         position: relative;
         z-index: 888;
         width: 11px;
         box-shadow: 0px 0px  11px rgba(0, 0, 0, 0.39);}
         body::-webkit-scrollbar:hover {
            position: relative;
            z-index: 888;
            width: 15px;}

         body::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
          }
          body::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG) ;
            border-radius: 6px;
            border: 3px solid #A3A3A3;
          }
          body::-webkit-scrollbar-thumb {
            background-color: #F5D20A ;
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
          }
          body::-webkit-scrollbar-thumb:active {
            background-color: #d8ba10 ;
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
          }




.Cabecera {
   position: fixed;
   z-index: 999;
   
   
   align-items: center;
   height: auto;
   width: 100vw;

   background-color: transparent;
   
   
   
}


.Header1 {
   
   
   
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;

   
   width: 100vw;
   
   
   
   background-color: #ffffff;
   box-shadow: 0 10px 20px -5px rgb(0 0 0 / 50%);
   transition: .8s; 
}
.Header-b {
   
   
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;

   background-color: #F5D20A;

   padding: 8px 8px;
   
   width: 100vw;
   
   
   box-shadow: 0 10px 20px -5px rgb(0 0 0 / 50%);
   transition: .8s; 
}


.logo {
   
}

.LogoH {
   
   width: 10rem;
}

.main-nav{
   
}

.main-nav ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

.main-nav ul li {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   color: #ffffff;
   float: left;
   margin-left: 25px;
}

.main-nav ul li a {
   text-decoration: none;
   color: #ffffff;
}

.main-nav ul li a:hover {
   color: #A3A3A3;
}

.main-nav ul li a:active {
   color: #F5D20A;
}





.Hero{
   background-image: url("https://github.com/Hrafnvidr/Federal-maqueta.io/blob/main/mockup/uploads/interperu-tracto-camion-consejo-seguridad-carga-carretera-transformed%201.png?raw=true");
   background-size: cover;
   background-position-x: center;
  background-repeat: no-repeat;

   display: flex;
   justify-content: center;
   align-content: start;
   align-items: center;
   padding-top: 97px;;
   

   

   height: 100vh;
   

}

.container-Hero {
   display: block;
   justify-content: center;
   align-content: start;
   align-items: center;
   width: auto;

   padding-top: 20px;
   padding-bottom:20px;
   padding-left:20px;
   padding-right:20px;

   margin-left: -35%;
   margin-top: -15px;
   margin-right: ;
   background: rgba(246, 246, 246, 0.39);
   

   

}

.container-Hero h1 {
   font-family: "roboto", sans-serif;
   text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
   font-weight: 900;
   color: #ffffff;
   
   
}

.container-Hero img {
   display: flex;
   justify-content: end;
   align-content: center;
   align-items: center;
   
  
   width: 429px;
   padding-left: ;
   margin-left: ;
   margin-right: ;
   margin-bottom: -33px;
   
}

.H-yellow {
   color: #F5D20A;
}






.Section1 {
  

   background-color: rgb(49, 49, 49/0%);
   display: flex;
   
   
   justify-content: center;
   align-content: center;
   align-items: top;
   width: 100%;
   
    }
.Section1-1{
   background-image: url("https://raw.githubusercontent.com/Hrafnvidr/Federal-maqueta.io/main/mockup/uploads/Background-1.webp");
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   
   padding: 40px 0px;
   
   height: 100vh;
   width: 100%;

}


.resultados {
  
   display: flex;
   flex-direction: column;
   
   justify-content: center;
   align-content: center;
   align-items: center;
   


   
   height: auto;
   width: 100%;
   
   
   offset-anchor: 100px;
   
    }
    .resultados2 {
      background-image: url("https://github.com/Hrafnvidr/Federal-maqueta.io/blob/main/mockup/uploads/background-respuesta.jpeg?raw=true");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgb(49, 49, 49/0%);
      display: block;
      
      
      justify-content: center;
      align-content: center;
      align-items: top;
      
      
       padding: 100px 0px 1px 0px;
      
      height: 100vh;
      width: 100%;
      
      
      offset-anchor: 100px;
    }

    .section1-title {
      color: #000000;
      border-right: solid #000 1px ;
    }
    .section1-title h1 {
      color: #A3A3A3;
      
    }

    

    .container-section1 {
      min-width:300px ;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;

      
      
      width: 28%;
      height: fit-content;
      background-color: rgb(255, 255, 255);
      box-shadow: 4px 6px  0px #F5D20A;
      display: block;
      transition: .8s;
       
   }

   .container2-section1 {
      
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 40px;
      
      height: fit-content;
      background-color: rgb(255, 255, 255);
      box-shadow: 4px 6px  0px #F5D20A;
      display: block;
      transition: .8s;
       
   }

   .container3-section1 {
      min-width:300px ;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;

      
      
      width: 45%;
      height: fit-content;
      background-color: rgb(255, 255, 255);
      box-shadow: 4px 6px  0px #F5D20A;
      display: block;
      transition: .8s;
       
   }

   

   

   


    .lilContainer-title {
      text-align: center;
      align-items: center;
      align-content: center;
      
     
      margin-top: 10 px;
      justify-content: center;
      
   }

   .lilContainer-text {
      display: flex;
      text-align: center;
      align-items: center;
      align-content: center;
      
      border-bottom: solid 1px #000;
     
      margin-top: 20px;
      justify-content: space-between;
      
   }

   .lilContainer {
      display: flex;
      text-align: center;
      align-items: center;
      align-content: center;

      padding: 4px 10px;
      border-radius: 10px;
      box-shadow: 1px 3px  3px rgba(0, 0, 0, 0.39);

      border: solid #000 1px;
     
      margin-top: 20px;
      justify-content: space-between;
      
   }
   

   .lilContainer-button {
      width: auto;
      height: auto;
      display: flex;
      justify-content: end;
      text-align: center;
      align-items: center;
      align-content: center;

      padding: 4px 10px;
      
      margin-top: -80px;
      margin-right: 100px;
    }

    /* .btn-calculate {
      font-size: 20px;
      margin-top: -20px;
      margin-left: 10px;
      height: 150px;
      width: 200px;
      border-radius: 100px;
      border-width: 6px;
      border-color: rgb(148, 145, 145);
      z-index: 100;
    } */
    .btn-calculate {
      font-size: 20px;
      margin-top: -20px;
      margin-left: 10px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 150px;
      width: 200px;
      border-radius: 100px;
      
      border-color: rgb(148, 145, 145);
      z-index: 100;
    }


    .lilContainer-button .btn a {
      font-size: 32px;
      display: flex;
      justify-content: center;
      padding: 50px 40px;
      border-width: 3px;
      border-radius: 100px;
      text-decoration: none;
      color: red;
      transition: .5s;
      border-radius: 20px;
      
      
   }
   .lilContainer-button .btn a:hover {
      
      cursor: pointer;
      color: #F5D20A;
      scale: 1.03;
      background-color: #A3A3A3;
      border-radius: 100px;
   
   }
   .btn-calculate:before{
      content:"";
      position: absolute;
      left: 0px;
      top:0px;
      
      width:0px;
      height:0px;
      width:0px;
      scale: 1;
      border-top: solid 6px #fff;
      border-bottom:6px;
      border-radius: 100px;
      animation: scale 3s infinite

   }

   @keyframes scale {
      0% {width: 0px;height: 0px; }
      100% {width: 200px;height: 150px;}
   }


   
  

    



   .lilContainer-result {
      
      text-align: left ;
      
    

      padding: 10px 10px 10px 10px;
      border-radius: 10px;

     
      
      
   }


   












.img-background   {
   z-index: 1;
   position: absolute;
}

.Section2 {
   
   display: flex;
   align-content: center;
   align-items: center;

   
   justify-content: center;
   height: auto;
   width: 100vw;
   padding: 0px 0px;  

}



.Section2-1 {
   position: relative;
   display: grid;
   align-items: center;
   align-content: center;
   background-image: url("https://raw.githubusercontent.com/Hrafnvidr/Federal-maqueta.io/main/mockup/uploads/03-Slide-Industriales_01%201.webp");
   background-size: cover;
   background-repeat: no-repeat;
   
   background-color: rgb(208, 210, 211);
   padding: 50px 0px 80px 0px;
   
   min-height: 100vh;
   height: auto;
   offset-anchor: 100px;
}

.h1-section2-1 {
   text-align: center;
   color: #ffffff;
   display: block;
   justify-content: center;
background-color: transparent;
margin-top: 0px;
margin-bottom: 0px;



}

.container {
   min-width:300px ;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 20px;
   padding-right: 20px;
   margin: 20px;
   width: 28%;
   background-color: rgb(255, 255, 255);
   box-shadow: 4px 6px  0px #F5D20A;
   float: left;
   transition: .8s;
    
}


.container:hover{
   scale: 1.03;
   
}



.Form {
 
   margin: auto;
   vertical-align: center;
   

  
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 10px;
   padding-right: 10px;

}

.form-control-texto {
   border-top: solid 0px;
   border-bottom: solid 1px;
   border-left: none;
   border-right: none;
   border-color: black;
   outline: none;
   

   margin-bottom: 5px ;

   font-size: 22;
   width: 100%;
   
}



.form-control {
   border-top: solid 0px;
   border-bottom: solid 1px;
   border-left: solid 0px;
   border-right: none;
   border-color: black;
   outline: none;

   margin-bottom: 5px ;

   font-size: 22;
   width: 100%;
   
}

.form-control-number {
   border-top: solid 0px;
   border-bottom: solid 0px;
   border-left: solid 1px;
   border-right: none;
   border-color: black;
   outline: none;

   margin-bottom: 0px ;

   font-size: 22;
   width: 100%;
   
}


.col-form-label{
   font-family: "roboto", sans-serif;
   font-size: 20px;
   font-weight: 400;
   text-transform:;
   text-align: left;
   margin-right: 5px;
}

.input-texto-empresa {
   overflow: hidden;
   font-size: 32px;
   font-family: "roboto",sans-serif;
   color: red;
   text-align: center;
   
   
}

::placeholder {
   color: rgb(232, 232, 232);
}

.input-texto {
   font-family: roboto,san-serif;
   font-weight: 400px;
   color: red;
   text-align: end;
   font-size: 18px;
   margin-bottom: -0.5px;
   width: 100%;
   
}




.form-control-title {
    margin-left: 10px;
 }

 .hLabel{
   size
 }


.constant-number {
   font-family: "roboto", sans-serif;
   font-size: 18px;
   font-weight: 600;


   padding: 2px 3px;
   background-color: white;
   color: red;
   margin-left: 0px;
   
   border-radius: 1px;
   outline: none;
   margin-bottom: -0,5px;
   width: 60px;
}

.variable-number{
   font-size: 18px;
   font-weight: 600;

   padding: 2px 3px;
   background-color: white;
   color: black;
   margin-left: 0px;
   
   border-radius: 1px;
   outline: none;
   margin-bottom: -0,5px;
   width: 60px;
}

.variable-number-b{

   font-family: "roboto", sans-serif;
   font-size: 18px;
   font-weight: 600;
   padding: 3px 5px;
   background-color: #A3A3A3;
   color: red;
   margin-right: -10px;
   margin-top: -3px;
   margin-bottom: -3px;

   overflow-x: hidden;
   
   border-radius: 1px;
   outline: none;
   margin-bottom: -0,5px;
   min-width: 66px;
   width: auto;
   height: 30px;
   display: flex;
   align-items: center;
   
   border-radius: 0px 8px 8px 0px;
   
}

.variable-number-c{

   padding: 3px 5px;
   background-color: #A3A3A3;
   color: red;
   font-family: "roboto", sans-serif;
   font-size: 32px;
   font-weight: bolder;
   margin-right: -10px;
   margin-top: -3px;
   margin-bottom: -3px;

   overflow-x: hidden;
   
   border-radius: 1px;
   outline: none;
   margin-bottom: -0,5px;
   min-width: 120px;
   width: auto;
   min-height: 60px;
   height: 100%;
   display: flex;
   align-items: center;
   
   border-radius: 0px 8px 8px 0px;
   
}

.variable-number-d{

   padding: 3px 5px;
   
   color: red;
   
   font-family: "roboto", sans-serif;
   text-align: center;
   font-size: 48px;
   font-weight: bolder;
   margin-left: -10px;
   margin-right: -10px;
   margin-top: -3px;
   margin-bottom: -3px;

   overflow-x: hidden;
   
   border-radius: 1px;
   outline: none;
   margin-bottom: -0,5px;
   min-width: 120px;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   
   border-radius: 8px 8px 8px 8px;
   
}

.h2-variable-number-d {
   text-align: center;
   padding-top:5px ;
   margin-top: 0px;
   padding-bottom: 20px;
}




.alert {
   font-family: "roboto", sans-serif;
   margin: auto;

   transition: .8s;
}



.alert::before{
   display: none;
}

.alert::after{
   display: contents;
}

.alert-ahorro {
   position: absolute center;
   margin: auto;
   padding: ;
   background-color: rgb(255, 255, 255);
   transition: .8s;
   text-align: center;
}

.ahorro-anual{
   display: block;
   cursor: pointer;
   color: #ffffff;
   font-size: 20px;
   padding: 11px 40px;
   margin: auto;
   offset: -50px 0;
   background-color: #7077ff;
   border-color: #7077ff;
   border-radius: 20px 20px 20px 20px;
   transition: .5s;
   box-shadow: none;
}

.ahorro{
   background-color: white;
}



.resultados2 h1 {
   margin-top: 30px;
   margin-bottom: 20px;
   color: white;
   text-align: center;
}

.resultados h2 {
   
   margin-bottom: -20px;
  
}

select {
   position: relative;
   align-content: center;
   color
   
}
select option {
   font-size: 20px;
   }
select option :hover {
   background-color: #d8ba10;
}

.selected {
   display: none;
}

 /* ----------------------------boton calcular ---------------------------- */
 .bloby-1{
   
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center ;
   margin-right: ;
   margin-top: 50px;
   scale: .7;
   margin-bottom: -30px;
   transition: .5s;
   
   
   background-color: #7077ff;
 }
   
 
 .bloby {
   
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center ;
   margin-right: ;
   margin-top: 10px;
   transition: .5s;
   
   
   background-color: #7077ff;
   
 }
 .bloby:hover {
   scale: 1.15;
 }
.blob {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   font-size: 22px;
   border: 3px solid red;
   background-color: #F5D20A;
   border-radius: 100px;
   width: 300px;
   height: 80x;
   
}
.blobo {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   font-size: 28px;
   
   background-color: red;
   border-radius: 100px;
   width: 300px;
   height: 80px;
   animation: blobing 1.5s infinite;
   transform-origin: 50% 50%;
   filter: blur(10px);
}
.blobu {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   font-size: 28px;
   
   background-color: #F5D20A;
   border-radius: 100px;
   width: 300px;
   height: 80px;
   
   animation: blobing 1.5s infinite;
   transform-origin: 50% 50%;
   filter: blur(10px);
   
}


.blob a {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "roboto", sans-serif;
   font-weight: bold;
   font-size: 28px;
   text-decoration: none;
   width: 300px;
   height: 80px;
   color: red;
   border-radius: 100px;
   box-shadow: 0px 0px 13px #000
   
  
   
}

.blob:before {
   width: 0px;
   height: 0px;
   opacity: 0%;
}

@keyframes blobing {
   0% { width: 3o0px; height: 80px;opacity: 30%;}
   40% {width: 320px;height: 100px;opacity: 50%;}
   60% {width: 320px;height: 100px;opacity: 50%;}
   100% { width: 300px; height: 80px;opacity: 30%;}
}



 /* ----------------------------boton calcular ---------------------------- */


/*responsive ----------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 720px) {

   .main-nav{
      
      line-height: 30px;
   
   }

   .main-nav ul{
      
      justify-content: center center;
      align-items: center;
      align-content: center;
      
   }

   .lilContainer  {
      min-height: 60px;
   }

   .variable-number-b {
      min-height: 60px;
      height: 100%;
   }
   


   .Hero{
      background-image: url("https://github.com/Hrafnvidr/Federal-maqueta.io/blob/main/mockup/uploads/interperu-tracto-camion-consejo-seguridad-carga-carretera-transformed%201.png?raw=true");
      background-size: cover;
      background-position-x: center;
     background-repeat: no-repeat;
   
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: start;
      align-items: start;
   
      padding-top:  30px;
      padding-left: 30px;
   
      
   
      height: 100vh;
      
   
   }

   .container-Hero {
      width:80%;
   }
   .container-Hero {
      display: block;
      justify-content: center;
      align-content: start;
      align-items: center;
      width: auto;
   
      padding-top: 20px;
      padding-bottom:20px;
      padding-left:20px;
      padding-right:20px;
   
      margin-left: -15px;
      margin-top: -15px;
      margin-right: ;
      background: rgba(0, 0, 0, 0.39);
      
   
      
   
   }

   .container-Hero img{
      width: 50%;
   }

   

   .img-hero{
      
      
       
    }


   .Section1 {
      
      background-image: url(https://raw.githubusercontent.com/Hrafnvidr/Federal-maqueta.io/main/mockup/uploads/Background-1.webp);
      
      background-color: rgb(49, 49, 49/0%);
      display: flex;
      flex-direction: column;
      
      justify-content: center;
      align-content: center;
      align-items: center;
      
   
      padding-top: 80px;
      
      height: auto;
      width: 100%;
      padding-bottom: 80px;
      padding-top: 80; 
      
       }


       .container2-section1 {
         min-width:300px ;
         padding-top: 15px;
         padding-bottom: 15px;
         padding-left: 20px;
         padding-right: 20px;
   
         
         
         width: 28%;
         height: fit-content;
         background-color: rgb(255, 255, 255);
         box-shadow: 4px 6px  0px #F5D20A;
         display: block;
         transition: .8s;
          
      }

       .Section2 {
         
         display: flex;
         flex-direction: column;
         align-content: center;
         align-items: center;
      
         
         justify-content: center;
         height: 100%;
         width: 100%;
         padding-bottom: 80px;  
       } 
       .bloby {
         margin-top: -20px;
       }
   
       .variable-number-c{

         padding: 3px 5px;
         background-color: #A3A3A3;
         color: red;
         font-family: "roboto", sans-serif;
         font-size: 22px;
         font-weight: bolder;
         margin-right: -10px;
         margin-top: -3px;
         margin-bottom: -3px;
      
         overflow-x: hidden;
         
         border-radius: 1px;
         outline: none;
         margin-bottom: -0,5px;
         min-width: 120px;
         width: auto;
         min-height: 60px;
         height: 100%;
         display: flex;
         align-items: center;
         
         border-radius: 0px 8px 8px 0px;
         
      }
      .variable-number-d {
         font-size: 22px;
      }








}

.container-btn-pdf {
  
  
   
   background-color: #a3a3a300/;
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   

}

.container-btn-pdf .btn {
   display: flex;
   justify-content: center;
  
   
}
